form.ajs-dirty-warning-exempt.aui {
    display: flex!important;
    flex-direction: row;
    align-items: flex-start;
}

/*div.save-options{*/
/*    position: relative!important;*/
/*    align-self: end;*/
/*    margin-left: 8px;*/
/*    width: min-content;*/
/*    height: min-content;*/
/*}*/