##disable_html_escaping()
##$!{auiparams.put("controlHeaderClass", "aui-field-datepicker")}
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
#set ($field_uid = $customField.id)

<table id='mainTab' width="80%">
    ## All input elements for this custom field should have a name of
    ## $customField.id but each id should be unique

    #if ($issue.getKey())
        ## issue exists and has a key so the value is a transport of string values,
        ## not a transport object of the singular objects. We want more than just
        ## strings so access the transport object directly from the customfield

        #set ($carriers = $customField.getValue($issue))
    #else
        ## When this template is used to edit a default value then
        ## issue is a dummy with no key. Access the transport object via
        ## the configs variable.

        #set ($carriers = $configs.get("default"))
    #end
    #if (!$value)
        <tr width="80%">
            <td>
                Полная сумма счета
            </td>
            <td>
                <input id="${field_uid}-full-amount"
                name="${field_uid}"
                type="text"
                value=""
                class = "text long-field"/>
            </td>
        </tr>
    #else
        <tr width="80%">
            <td>
            Полная сумма счета
            </td>
            <td>
                <input id="${field_uid}-full-amount"
                name="${field_uid}"
                type="text"
                value="$!number.format($carriers.get(0).getFullAmount())"
                class = "text long-field"/>
            </td>
        </tr>
#end
    <tr width="80%">
        <td>
            Дата оплаты счета
        </td>
        <td>
            Сумма к оплате
        </td>
        <td>
            Дата реальной оплаты
        </td>
        <td>
            Реальная сумма оплаты
        </td>
    </tr>

    #if ($value)

        #set ($i = 0)
        #foreach ($carrier in $carriers)
            #if ($i > 0)
            <tr width="80%">
                <td>
                    <input id="${field_uid}-date-${velocityCount}"
                           name="${field_uid}"
                           type="text"
                           value="$!date.format('dd.MM.yyyy',$!carrier.getDate())"
                           class = "text long-field"
                           />
                </td>

                <td>

                    <input id="${field_uid}-amount-${velocityCount}"
                           name="${field_uid}"
                           type="text"
                           value="$number.format($carrier.getAmount())"
                           class = "text long-field"/>
                </td>
                <td>

                    <input id = "${field_uid}-datePost-${velocityCount}"
                           name = "${field_uid}"
                           type = "text"
                           value = "$!date.format('dd.MM.yyyy',$!carrier.getDatePost())"
                           class = "text long-field"/>
                </td>
                <td>
                    <input id = "${field_uid}-amountPost-${velocityCount}"
                    name = "${field_uid}"
                    type = "text"
                    value = "$!number.format($!carrier.getAmountPost())"
                    class = "text long-field"/>
                </td>
            </tr>
            #end
            #set($i = ($i + 1))
        #end

    #end

    <tr width="80%">
        <td>
            <input id = "${field_uid}-new-date"
                   name ="${field_uid}"
                   type ="text"
                   value =""
                   autocomplete="off"
                   class = "text long-field"/>
                                      </td>

        <td>
            <input id="${field_uid}-new-amount"
                   name="${field_uid}"
                   type="text"
                   value=""
                   class = "text long-field"/>
        </td>
        <td>
            <input id="${field_uid}-new-datePost"
                name="$customField.id"
                type="text"
                value=""
                autocomplete="off"
                class = "text long-field"
            />
         </td>

        <td>
            <input id="${field_uid}-new-amountPost"
            name="${field_uid}"
            type="text"
            value=""
            class = "text long-field"/>
        </td>

    </tr>

</table>
<input value="Добавить строку" id = "buttonAdd" onclick="createInput()" type="button" class="aui-button">
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
$!{auiparams.clear()}

<script>
    let i = 1;

    function createInput(){
        if (i<=15){
        let a = "${field_uid}";
        i++;
        var $input = $("<tr>" + "<td>" + "<input  type=\"text\" value=\"\" class = \"text long-field\" name=\"" + a + "\" id=\"" + a + " new_f" + i + "\"  /> "  +
                "<td>" + "<input  type=\"text\" value=\"\" class = \"text long-field\" name=\"" + a + "\" id=\"" + a + " new_s" + i + "\" /> " +
                "<td>" + "<input  type=\"text\" value=\"\" class = \"text long-field\" name=\"" + a + "\" id=\"" + a + " new_t" + i + "\" /> " +
                "<td>" + "<input  type=\"text\" value=\"\" class = \"text long-field\" name=\"" + a + "\" id=\"" + a + " new_f" + i + "\" /> "+ "</tr>");
            $input.appendTo('#mainTab');
    }}
</script>