#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
#set ($field_uid = $customField.id)

<table id='mainTab'>
    ## All input elements for this custom field should have a name of
    ## $customField.id but each id should be unique

    #if ($issue.getKey())
        ## issue exists and has a key so the value is a transport of string values,
        ## not a transport object of the singular objects. We want more than just
        ## strings so access the transport object directly from the customfield

        #set ($carriers = $customField.getValue($issue))
    #else
        ## When this template is used to edit a default value then
        ## issue is a dummy with no key. Access the transport object via
        ## the configs variable.

        #set ($carriers = $configs.get("default"))
    #end
    #if (!$value)
        <tr>
            <td>
                Полная сумма счета
            </td>
            <td>
                <input id="${field_uid}-full-amount"
                name="${field_uid}"
                type="text"
                value="" />
            </td>
        </tr>
#end
    <tr width="15%">
        <td>
            Дата оплаты счета
        </td>
        <td>
            Сумма к оплате
        </td>
        <td>
            Дата релаьной оплаты
        </td>
        <td>
            Реальная сумма оплаты
        </td>
    </tr>

    #if ($value)
    <tr>
        <td>
            Полная сумма счета
        </td>
        <td>
            <input id="${field_uid}-full-amount"
            name="${field_uid}"
            type="text"
            value="$number.format($carriers.get(0).getFullAmount())" />
            </td>
    </tr>
        #set ($i = 0)
        #foreach ($carrier in $carriers)
            #if ($i > 0)
            <tr >
                <td>
                    <input id="${field_uid}-date-${velocityCount}"
                           name="${field_uid}"
                           type="date"
                           value="$carrier.getStringDate()"
                           class = "datepicker-here" />
                </td>

                <td>
                    <input id="${field_uid}-amount-${velocityCount}"
                           name="${field_uid}"
                           type="text"
                           value="$number.format($carrier.getAmount())" />
                </td>
                <td>
                    <input id = "${field_uid}-datePost-${velocityCount}"
                           name = "${field_uid}"
                           type = "date"
                           value = "$carrier.getStringDatePost()"
                           class = "datepicker-here" />
                </td>
                <td>
                    <input id = "${field_uid}-amountPost-${velocityCount}"
                    name = "${field_uid}"
                    type - "text"
                    value = "$number.format($carrier.getAmountPost())" />
                </td>
            </tr>
            #end
            #set($i = ($i + 1))
        #end

    #end

    <tr>
        <td>
            <input id = "${field_uid}-new-date"
                   name ="${field_uid}"
                   type ="text"
                   value =""
                   class = "datepicker-here" />
        </td>

        <td>
            <input id="${field_uid}-new-amount"
                   name="${field_uid}"
                   type="text"
                   value="" />
        </td>
        <td>
            <input id="${field_uid}-new-datePost"
                   name="${field_uid}"
                   type="text"
                   value=""
                   class = "datepicker-here" />
        </td>

        <td>
            <input id="${field_uid}-new-amountPost"
            name="${field_uid}"
            type="text"
            value="" />
        </td>

    </tr>

</table>


<input value="Добавить поле" id = "buttonAdd" onclick="createInput()" type="button">





#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)

