#if ($value)
    #if ($value.size() > 0)
        #if ($!issue)
            ## issue exists so the value is a transport of string values,
            ## not a transport object of the singular objects. We want more than just
            ## strings so access the transport object directly from the customfield

            #set ($carriers = $customField.getValue($issue))
        #else
            ## issue does not exist because we are displaying a default value
            ## and so value is a Collection of Carrier objects.

            #set ($carriers = $value)
        #end
        <table>

            <tr>
                <td>
                    Полная сумма счета
                </td>
                <td>
                    $number.format("currency",$carriers.get(0).getFullAmount())
                </td>
            </tr>

            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Проценты
                </td>
                <td>
                    Сумма
                </td>
                <td>
                    Дата реальной оплаты
                </td>
                <td>
                    Pеальная сумма оплаты
                </td>
            </tr>
            #set($i = 0)
            #foreach ($carrier in $carriers)
                #if($i > 0)
                    <tr>
                        <td>
                    $date.format('dd.MM.yyyy',$!carrier.getDate())
                        </td>
                        <td>
                            #set($percent = $!carrier.getAmount() / $!carriers.get(0).getFullAmount() * 100)
                            $number.format($percent)%
                        </td>
                        <td>
                            $number.format("currency", $!carrier.getAmount())
                        </td>
                        <td>
                            #if($!carrier.getStringDatePost() != "0")
                                $date.format('dd.MM.yyyy',$!carrier.getDatePost())
                            #end
                        </td>
                        <td>
                            #if($!carrier.getAmountPost() != 0.0)
                                $number.format("currency", $!carrier.getAmountPost())
                            #end
                        </td>
                    </tr>
                #end
                #set($i = ($i + 1))
            #end

        </table>
    #end
#end
