$webResourceManager.requireResourcesForContext("status-screen-resources")
<div class="aui-tabs horizontal-tabs" xmlns="http://www.w3.org/1999/html">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tab-win-status-1">Инфомация</a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tab-win-status-1">
        <div class="aui-group">
            <div class="aui-item">
                <h2 class="centered">Тендер № <a href="$model.getTender().getUrl()" target="_blank">$model.getTender().getProcedureNumber()</a></h2>
                <div class="zoned">
                    <div class="aui-group aui-group-split">
                        <div class="aui-item">
                            $soyRenderer.render(
                                'jira.webresources:issue-statuses',
                                'JIRA.Template.Util.Issue.Status.issueStatusResolver', {
                                'issueStatus': $model.getTender().getStatus(),
                                'isSubtle': true,
                                'isCompact': false,
                                'maxWidth': 150
                            })
                            <a href="$baseURL/browse/$model.getTender().getKey()">$model.getTender().getKey()</a> $model.getTender().getSummary()
                        </div>
                    </div>
                </div>
                <h2 class="centered">Договор</h2>
                #set($agreement = $model)
                #parse( "templates/statusscreen/agreement.vm" )
            </div>
        </div>
    </div>
</div>



