<div class="aui-group">
    #foreach($letter in $letterChain)

        <div class="aui-item">
            <div class="zoned">
                <h5>$letter.getLetterType()</h5>
                <a href="$baseURL/browse/$letter.getKey()">$letter.getKey()</a> $letter.getSummary()
                <div class="aui-group aui-group-split">
                    <div class="aui-item">
                        $soyRenderer.render(
                            'jira.webresources:issue-statuses',
                            'JIRA.Template.Util.Issue.Status.issueStatusResolver', {
                            'issueStatus': $letter.getStatus(),
                            'isSubtle': true,
                            'isCompact': false,
                            'maxWidth': 150
                        })
                    </div>
                </div>
            </div>
##            #if($letter.getChildLetter())
##                <div class="rightered">
##                    <span class="aui-icon aui-icon-small aui-iconfont-arrow-right-circle">arrow</span>
##                </div>
##            #end
        </div>

    #end
</div>