$webResourceManager.requireResourcesForContext("status-screen-resources")
<div class="aui-tabs horizontal-tabs" xmlns="http://www.w3.org/1999/html">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tab-win-status-1">Тендерная инфомация</a>
        </li>
        <li class="menu-item">
            <a href="#tab-win-status-2">Финансы</a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tab-win-status-1">
        <h1 class="centered">Процедура № $model.getProcedureNumber()</h1>
        <div class="aui-group">
            <div class="aui-item">
                #if($model.getAgreement())

                    <h2 class="centered">Договор с заказчиком</h2>
                    #set($agreement = $model.getAgreement())
                    <div class="aui-group">
                        <div class="aui-item">
                            <div class="zoned"><a href="$baseURL/browse/$agreement.getKey()">$agreement.getKey()</a> $agreement.getSummary()

                                <div class="aui-group">
                                     <div class="aui-item">
                                         <span class="aui-lozenge jira-issue-status-lozenge-compact aui-lozenge-$agreement.getOrganisation().getStatusColor()">$agreement.getOrganisation().getStatus()</span> Организация: <a href="$baseURL/browse/$agreement.getOrganisation().getKey()">$agreement.getOrganisation().getKey()</a> $agreement.getOrganisation().getName()
                                     </div>
                                </div>
                                <div class="aui-group aui-group-split">
                                    <div class="aui-item">
                                        $soyRenderer.render(
                                            'jira.webresources:issue-statuses',
                                            'JIRA.Template.Util.Issue.Status.issueStatusResolver', {
                                            'issueStatus': $agreement.getStatus(),
                                            'isSubtle': true,
                                            'isCompact': false,
                                            'maxWidth': 150
                                        })
                                    </div>
                                    <div class="aui-item">
                                         Стоимость: #set($finishAmountBuyer = $agreement.getAmount())
                                         #if($finishAmountBuyer)
                                             $number.format($finishAmountBuyer)
                                         #end
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                #else
                    <h2 class="centered">Договора с заказчиком нет</h2>
                #end
            </div>
            <div class="aui-item aui-doc-panel">
                #if(!$model.getAgreementsList().isEmpty())
                    <h2 class="centered">Договоры с поставщиками</h2>
                    #set($finishAmountSeller = 0)
                    #foreach($agreement in $model.getAgreementsList())
                        <div class="aui-group">
                            <div class="aui-item">
                                <div class="zoned"><a href="$baseURL/browse/$agreement.getKey()">$agreement.getKey()</a> $agreement.getSummary()

                                    <div class="aui-group">
                                        <div class="aui-item">
                                            <span class="aui-lozenge jira-issue-status-lozenge-compact aui-lozenge-$agreement.getOrganisation().getStatusColor()">$agreement.getOrganisation().getStatus()</span> Организация: <a href="$baseURL/browse/$agreement.getOrganisation().getKey()">$agreement.getOrganisation().getKey()</a> $agreement.getOrganisation().getName()
                                        </div>
                                    </div>
                                    <div class="aui-group aui-group-split">
                                        <div class="aui-item">
                                            $soyRenderer.render(
                                                'jira.webresources:issue-statuses',
                                                'JIRA.Template.Util.Issue.Status.issueStatusResolver', {
                                                'issueStatus': $agreement.getStatus(),
                                                'isSubtle': true,
                                                'isCompact': false,
                                                'maxWidth': 250
                                            })
                                        </div>
                                        <div class="aui-item">
                                            Стоимость:
                                            #if($agreement.getAmount())
                                                $number.format($agreement.getAmount())
                                            #end
                                            #set($finishAmountSeller = $finishAmountSeller + $agreement.getAmount())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    #end
                #else
                #end
            </div>
        </div>


        <div class="aui-group centered">
            <div class="aui-item">
                #if($finishAmountBuyer)
                    <h3>Итоговая сумма: <strong class="finish-value">$number.format($finishAmountBuyer)</strong></h3>
                #end
            </div>
            <div class="aui-item">
                #if($finishAmountSeller)
                    <h3>Итоговая сумма: <strong class="finish-value">$number.format($finishAmountSeller)</strong></h3>
                #end
            </div>
        </div>

        <div class="aui-group">
            <div class="aui-item">
                #if($model.getAgreement() && !$model.getAgreementsList().isEmpty() && $finishAmountBuyer && $finishAmountSeller )
                    #set($margin = $finishAmountBuyer - $finishAmountSeller)
                    #set($marginPercent = $margin / $finishAmountBuyer * 100)
                    <h2 class="centered">Маржа: <strong>$number.format($margin) ($number.format($marginPercent) %)</strong></h2>
                #end
            </div>
        </div>
    </div>
    <div class="tabs-pane" id="tab-win-status-2">
        <h2 class="centered">В разработке</h2>
    </div>
</div>



