#if ($issue)
    #set($NMC = $customFieldManager.getCustomFieldObjectByName('Сумма НМЦ в руб')) ## Сумма НМЦ в руб
    #set($KP = $customFieldManager.getCustomFieldObjectByName('Сумма КП в руб')) ## Сумма КП в руб
    #set($procurement = $customFieldManager.getCustomFieldObjectByName('Сумма закупки в руб')) ## Сумма закупки в руб
    #set($margin = $customFieldManager.getCustomFieldObjectByName('Маржа в руб')) ## Маржа в руб
    #set($marginPercent = $customFieldManager.getCustomFieldObjectByName('Маржа в %')) ## Маржа в %
    #macro (mac $field, $issue)
        #if($field.getValue($issue).toString())
        <p>$field.getName(): $number.format($field.getValue($issue).toString())</p>
        #end
    #end

<table class="aui aui-table-sortable">
    <thead>
    <tr>
        <th id="id" class="aui-table-column-issue-key">№</th>
        <th id="summary">Тема</th>
        <th id="status">Статус</th>
        <th id="action">Действие</th>
    </tr>
    </thead>
    <tbody>
        #foreach($so in $supplierOffers)
        <tr class="aui-row-subtle">
            <td headers="id"><a href="$baseURL/browse/$so.getKey()">$so.getKey()</a></td>
            <td headers="summary">$so.getSummary()</td>
            <td headers="status">
                $soyRenderer.render(
                    'jira.webresources:issue-statuses', 'JIRA.Template.Util.Issue.Status.issueStatusResolver', {
                    'issueStatus': $so.getStatus(),
                    'isSubtle': false,
                    'isCompact': false,
                    'maxWidth': 250
                })
            </td>
            <td headers="action">
                <a id="button-$so.getKey()" class=""
                   href="$baseURL/secure/AcceptPriceAction.jspa?issueId=$so.getKey()&parentId=$issue.getKey()&issuesIds=$supplierOffers.toString()">Согласовать</a>
            </td>
        </tr>
        #end
    </tbody>
</table>

#end