#if ($issue)
    #set($NMC = $customFieldManager.getCustomFieldObjectByName('Сумма НМЦ в руб')) ## Сумма НМЦ в руб
    #set($KP = $customFieldManager.getCustomFieldObjectByName('Сумма КП в руб')) ## Сумма КП в руб
    #set($procurement = $customFieldManager.getCustomFieldObjectByName('Сумма закупки в руб')) ## Сумма закупки в руб
    #set($margin = $customFieldManager.getCustomFieldObjectByName('Маржа в руб')) ## Маржа в руб
    #set($marginPercent = $customFieldManager.getCustomFieldObjectByName('Маржа в %')) ## Маржа в %
    #set($issueDocKey = $cf_10200.getValue($issue))
    #set($issueDoc = $issueManager.getIssueObject($issueDocKey))
    #macro (mac $field, $issue)
        #if($field.getValue($issue).toString())
            <p>$field.getName(): $number.format($field.getValue($issue).toString())</p>
        #end
    #end

    #mac($NMC, $issue)
    #mac($KP, $issue)
    #mac($procurement, $issue)
    #if($margin.getValue($issue).toString())
    <p>Маржа: $margin.format($margin.getValue($issue).toString()) руб.
        $marginPercent.format($marginPercent.getValue($issue).toString())%
    </p>
    #end
##    <p>$NMC.getName(): $number.format($NMC.getValue($issue).toString()) </p>
##    #if($KP.getValue($issue).toString())
##    <p>$KP.getName(): $number.format($KP.getValue($issue).toString()) </p>
##    #end
##    #if($procurement.getValue($issue).toString())
##    <p> $number.format($procurement.getValue($issue).toString())</p>
##    #end
##    #if($margin.getValue($issue).toString())
##    <p> Маржа: $number.format($margin.getValue($issue).toString())</p>
##    #end
##    #if($marginPercent.getValue($issue).toString())
##    <p> $number.format($marginPercent.getValue($issue).toString())</p>
##    #end

#end