#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
<table>
    ## All input elements for this custom field should have a name of
    ## $customField.id but each id should be unique

    #set ($field_uid = $customField.id)
    #if ($issue.getKey())
        ## issue exists and has a key so the value is a transport of string values,
        ## not a transport object of the singular objects. We want more than just
        ## strings so access the transport object directly from the customfield

        #set ($carrier = $customField.getValue($issue))
    #else
        ## When this template is used to edit a default value then
        ## issue is a dummy with no key. Access the transport object via
        ## the configs variable.

        #set ($carrier = $configs.get("default"))
    #end

#if ($value && $carrier)

    <tr >
        <td>
            Ставка, %
        </td>
        <td>
            <input id="${field_uid}-rate"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatRate()"/>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            Сумма
        </td>
        <td>
            Количество дней
        </td>
    </tr>
    <tr>
        <td>
            Предоплата
        </td>
        <td>
            <input id="${field_uid}-prepayment"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatPrepayment()" />
        </td>

        <td>
            <input id="${field_uid}-days-prepayment"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatDaysPrepayment()" />
        </td>

    </tr>
    <tr>
        <td>
            Аванс
        </td>
        <td>
            <input id="${field_uid}-advance"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatAdvance()" />
        </td>
        <td>
            <input id="${field_uid}-days-advance"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatDaysAdvance()" />
        </td>

    </tr>

    <tr>
        <td>
            Готовность
        </td>
        <td>
            <input id="${field_uid}-willingness"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatWillingness()" />
        </td>
        <td>
            <input id="${field_uid}-days-willingness"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatDaysWillingness()" />
        </td>
    </tr>
    <tr width>
        <td>
            Постоплата
        </td>
        <td>
            <input id="${field_uid}-postpaid"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatPostpaid()" />
        </td>
        <td>
            <input id="${field_uid}-days-postpaid"
                   name="${field_uid}"
                   type="text"
                   value="$carrier.getFormatDaysPostpaid()" />
        </td>

    </tr>


    #else
        <tr>
            <td>
                Ставка, %
            </td>
            <td>
                <input id="${field_uid}-rate"
                       name="${field_uid}"
                       type="text"
                       value="" />
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                Сумма
            </td>
            <td>
                Количество дней
            </td>
        </tr>
        <tr>
            <td>
                Предоплата
            </td>
            <td>
                <input id="${field_uid}-prepayment"
                       name="${field_uid}"
                       type="text"
                       value="" />
            </td>
            <td>
                <input id="${field_uid}-days-prepayment"
                       name="${field_uid}"
                       type="text"
                       value="" />
            </td>

        </tr>
        <tr>
            <td>
                Аванс
            </td>
            <td>
                <input id="${field_uid}-advance"
                       name="${field_uid}"
                       type="text"
                       value="" />
            </td>
            <td>
                <input id="${field_uid}-days-advance"
                       name="${field_uid}"
                       type="text"
                       value="" />
            </td>

        </tr>

        <tr>
            <td>
                Готовность
            </td>
            <td>
                <input id="${field_uid}-willingness"
                       name="${field_uid}"
                       type="text"
                       value="" />
            </td>
            <td>
                <input id="${field_uid}-days-willingness"
                       name="${field_uid}"
                       type="text"
                       value="" />
            </td>
        </tr>
    <tr>
        <td>
            Постоплата
        </td>
        <td>
            <input id="${field_uid}-postpaid"
                   name="${field_uid}"
                   type="text"
                   value="" />
        </td>
        <td>
            <input id="${field_uid}-days-postpaid"
                   name="${field_uid}"
                   type="text"
                   value="" />
       #end
        </td>
    </tr>
</table>

<style>

   form.ajs-dirty-warning-exempt.aui {
       display: flex!important;
        flex-direction: row;
       align-items: flex-start;
   }

   div.save-options{
       position: relative!important;
       align-self: end;
       margin-left: 8px;
       width: fit-content;
       height: min-content;
   }

</style>


#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
