#if ($value)
    #if ($!issue)
     ## issue exists so the value is a transport of string values,
     ## not a transport object of the singular objects. We want more than just
     ## strings so access the transport object directly from the customfield
    #set ($carrier = $customField.getValue($issue))
    #else
    ## issue does not exist because we are displaying a default value
    ## and so value is a Collection of Carrier objects.
    #set ($carrier = $value)
#end
    $carrier.getAnswer()
#end
