#if ($value)
    #foreach ($singleValue in $value)
<customfieldvalue>
  <amount>$!singleValue.getFullAmount()</amount>
  <amount>$!singleValue.getAdvance()</amount>
  <amount>$!singleValue.getWillingness()</amount>
  <amount>$!singleValue.getDaysAdvance()</amount>
  <amount>$!singleValue.getDaysWillingness()</amount>
  <amount>$!singleValue.getRate()</amount>
</customfieldvalue>
    #end
#end
