<html>
<head>
    <title>CommandOne</title>
</head>

<body>

<div style="background: #FFFFFF">
    <table class="jiraform maxWidth">
        <tr>
            <td class="jiraformheader">
                <h3 class="formtitle">Example</h3>
            </td>
        </tr>
        <tr>
            <td class="jiraformbody">
            ## Error messages are per action, errors are per field
                <table>
                    #foreach ($error in $action.getErrorMessages())
                        <tr>
                            <td>${error}</td>
                        </tr>
                    #end
                </table>
                <table>
                    #foreach ($error in $action.errors)
                        <tr>
                            <td>${error}</td>
                        </tr>
                    #end
                </table>

                Page only to show how to use view in action<br/>
                <form method="POST" action="AcceptPriceAction.jspa">
                    <input type="text" name="string"/><br/>
                    <input type="submit"/>
                </form>

            </td>
        </tr>

    </table>
    <br>

</body>
</html>
